@use '../abstracts/variables';
@use '../abstracts/mixins';

.btn {
  @include mixins.font(
    variables.$font-size-base,
    variables.$line-height-subtitle,
    variables.$letter-spacing-wide 
  );
  padding: variables.$btn-padding;
  border: 2px solid variables.$color-accent;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: variables.$color-accent;
  color: variables.$color-white;

  &:hover {
    background-color: variables.$color-bg;
    color: variables.$color-accent;
    border: 2px solid variables.$color-accent;
  }
} 